---
import SpSlideMenu from "./SpSlideMenu.astro";
import SpHamburger from "./SpHamburger.astro";
---
<footer class="w-full bg-slate-600 pb-14 lg:pb-3">
    <div class="flex items-center justify-between lg:max-w-7xl md:max-w-5xl m-auto">
        ここにフッター関連
    </div>

</footer>
<nav class=" lg:hidden fixed bottom-0 left-0 w-full bg-slate-300 h-14 flex items-center z-50">
    <SpHamburger />
    
</nav>
<SpSlideMenu />