---
---
<div class="hamburger flex justify-end p-4 md:hidden h-5 w-6 relative z-50">
    <span class="line top h-1 inline-block w-6 transition-all absolute right-0 bg-black top-0"></span>
    <span class="line middle h-1 inline-block w-6 transition-all absolute right-0 bg-black top-2"></span>
    <span class="line bottom h-1 inline-block transition-all absolute right-0 bg-black top-4 w-6"></span>
</div>

